#set global $page_title = $station.location
#set global $weather_body = $month
#set global $weather_body_graphs = 'month'

#include "page_header.html.tmpl"

#include "weather_body.html.tmpl"

#include "page_footer.html.tmpl"