
<footer>
    <div class="container">
        <p>
            &copy; $current.dateTime.format("%Y")
            #if $Extras.has_key('you')
            $Extras.you
            #end if
            &bull; Powered by <a href="http://weewx.com" target="_blank">weewx</a> v$station.version
            &bull; NeoWX by <a href="https://neoground.com" target="_blank">Neoground</a>
            &bull; Station: $station.hardware
        </p>
    </div>
</footer>

#if $almanac.hasExtras
<!-- ALMANAC -->
<div style="display: none;" id="almanac" class="modal-crd">
    <h2><i class="wi wi-horizon"></i> Almanac</h2>
    <div class="crd-content">
        <div class="row gutters">
            <div class="col-6">
                <h2>$Extras.Translation.sun</h2>
                <table>
                    <tr><td>$Extras.Translation.start_civil_twilight:</td><td>$almanac(horizon=-6).sun(use_center=1).rise</td></tr>
                    <tr><td>$Extras.Translation.sunrise</td><td>$almanac.sun.rise.string($sun_None)</td></tr>
                    <tr><td>$Extras.Translation.transit:</td><td>$almanac.sun.transit</td></tr>
                    <tr><td>$Extras.Translation.sunset:</td><td>$almanac.sun.set.string($sun_None)</td></tr>
                    <tr><td>$Extras.Translation.end_civil_twilight:</td><td>$almanac(horizon=-6).sun(use_center=1).set</td></tr>
                    <tr><td>$Extras.Translation.azimuth:</td><td>$("%.1f&deg;" % $almanac.sun.az)</td></tr>
                    <tr><td>$Extras.Translation.altitude:</td><td>$("%.1f&deg;" % $sun_altitude)</td></tr>
                    <tr><td>$Extras.Translation.right_ascension:</td><td>$("%.1f&deg;" % $almanac.sun.ra)</td></tr>
                    <tr><td>$Extras.Translation.declination:</td><td>$("%.1f&deg;" % $almanac.sun.dec)</td></tr>
                    #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
                    ## The equinox is before the solstice. Display them in order.
                    <tr><td>$Extras.Translation.equinox:</td><td>$almanac.next_equinox</td></tr>
                    <tr><td>$Extras.Translation.solstice:</td><td>$almanac.next_solstice</td></tr>
                    #else
                    ## The solstice is before the equinox. Display them in order.
                    <tr><td>$Extras.Translation.solstice:</td><td>$almanac.next_solstice</td></tr>
                    <tr><td>$Extras.Translation.equinox:</td><td>$almanac.next_equinox</td></tr>
                    #end if
                </table>
            </div>
            <div class="col-6">
                <h2>$Extras.Translation.moon</h2>
                <table>
                    <tr><td>$Extras.Translation.rise:</td><td>$almanac.moon.rise</td></tr>
                    <tr><td>$Extras.Translation.transit:</td><td>$almanac.moon.transit</td></tr>
                    <tr><td>$Extras.Translation.set:</td><td>$almanac.moon.set</td></tr>
                    <tr><td>$Extras.Translation.azimuth:</td><td>$("%.1f&deg;" % $almanac.moon.az)</td></tr>
                    <tr><td>$Extras.Translation.altitude:</td><td>$("%.1f&deg;" % $almanac.moon.alt)</td></tr>
                    <tr><td>$Extras.Translation.right_ascension:</td><td>$("%.1f&deg;" % $almanac.moon.ra)</td></tr>
                    <tr><td>$Extras.Translation.declination:</td><td>$("%.1f&deg;" % $almanac.moon.dec)</td></tr>
                    #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
                    <tr><td>$Extras.Translation.full_moon:</td><td>$almanac.next_full_moon</td></tr>
                    <tr><td>$Extras.Translation.new_moon:</td><td>$almanac.next_new_moon</td></tr>
                    #else
                    <tr><td>$Extras.Translation.new_moon:</td><td>$almanac.next_new_moon</td></tr>
                    <tr><td>$Extras.Translation.full_moon:</td><td>$almanac.next_full_moon</td></tr>
                    #end if
                    <tr><td>$Extras.Translation.phase:</td><td>$almanac.moon_phase<br />($almanac.moon_fullness% full)</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
#end if

<div style="display: none;">
    <div id="data_loading"><i class="loading wi wi-thermometer"></i></div>
</div>

<!-- Javascript. jQuery etc. (see gulpfile) included in main.min.js -->
<script src="main.min.js"></script>
<script>

    $('ul#menu li#{$weather_body_graphs}' ).addClass('active');

</script>
</body>
</html>