#set global $page_title = $station.location

#include "page_header.html.tmpl"

#set global $weather_body = $year
#set global $weather_body_graphs = 'year'

#include "weather_body.html.tmpl"

#include "page_footer.html.tmpl"